.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-item h4 {
  text-align: center;
}

#comment-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#comment-input {
  width: 500px;
}

#cancel-button {
  width: 100px;
  height: 100%;
}

#register-button {
  width: 100px;
  height: 100%;
}
